a.nav:link { text-decoration: none; color: #000000; }
a.nav:visited { text-decoration: none; color: #000000; }
a.nav:hover { text-decoration: underline; color: #000000; }
a.navhead:link { text-decoration: none;}
a.navhead:visited { text-decoration: none;}
a.navhead:hover { text-decoration: underline;}
.navhead { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #FFFFFF; font-weight: bold; text-decoration: none }
td.navhdr { bgcolor: #0080C0; }
td.nav {
  border: solid 1px #CFFFFF;
  background: #90c8ff;
}
table.centered { margin-left: auto; margin-right: auto; }
table.nav {
  border-collapse: collapse;
  border: 1px solid #cfffff;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
table.swtpage {
  border-bottom: 1px solid #000000;
  border-collapse: collapse;
}